<div class="d-inline">プロフィール
   <% if current_user == user %>
    <%= link_to 'プロフィールの編集', edit_user_path(user), class: 'btn btn-primary btn-sm mb-1' %>
  <% end  %>
</div>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>Sex/性別</th>
      <td><%= user.sex %></td>
    </tr>
    <tr>
      <th>Birth_Place/出生地</th>
      <td><%= user.bplace %></td>
    </tr>
    <tr>
      <th>Address/現住所</th>
      <td><%= user.address %></td>
    </tr>
    <tr>
      <th>Best_Score/ベストスコア</th>
      <td><%= user.bscore %></td>
    </tr>
    <tr>
      <th>Distance/飛距離</th>
      <td><%= user.distance %></td>
    </tr>
    <tr>
      <th>Home_Course/所属コース</th>
      <td><%= user.hcourse %></td>
    </tr>
    <tr>
      <th>Job/職業・勤務先</th>
      <td><%= user.job %></td>
    </tr>
    <tr>
      <th>School/出身校</th>
      <td><%= user.school %></td>
    </tr>
    <tr>
      <th>Hobby/趣味</th>
      <td><%= user.hobby %></td>
    </tr>
  </tbody>
</table>

 