<table class="table table-striped">
  <tbody>
    <tr>
      <th>Birth_Place/出生地</th>
      <td><%= user.bplace %></td>
    </tr>
    <tr>
      <th>Address/現住所</th>
      <td><%= user.address %></td>
    </tr>
    <tr>
      <th>Best_Score/ベストスコア</th>
      <td><%= user.bscore %></td>
    </tr>
    <tr>
      <th>Distance/飛距離</th>
      <td><%= user.distance %></td>
    </tr>
    <tr>
      <th>Home_Course/所属コース</th>
      <td><%= user.hcourse %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= user.status %></td>
    </tr>
  </tbody>
</table>

 