<style>
             table {
                font-size:13px;
            }
</style>

<div class="d-inline">クラブセッティング
<% if current_user == user %>
    <%= link_to 'プロフィールの編集', edit_user_path(user), class: 'btn btn-primary btn-sm mb-1' %>
  <% end  %>
</div>
    <div class="row text-center">
      <p class="col-md-9 col-lg-5">
          <%= image_tag user.gear.thumb_gear.url if user.gear.present? %>
      </p>
      <aside class="col-lg-7">
        <table class="table table-striped">
         <tbody>
            <tr>
              <th>番手</th>
              <td>クラブ</td>
            </tr>
            <tr>
              <th>ドライバー</th>
              <td><%= user.driver %></td>
            </tr>
            <tr>
              <th>Dシャフト</th>
              <td><%= user.dshaft %></td>
            </tr>
            <tr>
              <th>ウッド</th>
              <td><%= user.wood %></td>
            </tr>
            <tr>
              <th>ユーティリティ</th>
              <td><%= user.ut %></td>
            </tr>
             <tr>
              <th>アイアン</th>
              <td><%= user.iron %></td>
            </tr>
             <tr>
              <th>ウェッジ</th>
              <td><%= user.wedge %></td>
            </tr>
             <tr>
              <th>パター</th>
              <td><%= user.putter %></td>
            </tr>
          </tbody>
        </table>
      </aside>
    </div>