<div class="mt-4 container">
<div class="mb-4">
  <%= search_form_for @q do |f| %>
    <%= f.label :name_or_address, "Keyword" %>
      <%= f.search_field :name_or_address_cont %>
    <%= f.submit "検索" %>
  <% end %>
  <%= sort_link(@q,:name, "Name") %>
</div>

<% if logged_in? %>
  <% if users.any? %>
      <div class="container">
        <div class="row">
          <% users.each do |user| %>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="card mt-1 mb-1 border-bottom border-top" id="user_image">
               <% if user.image? %>
                <%= lazysizes_image_tag user.image.thumb_in.url  if user.image.present? %>
               <% else %>
                <%= lazysizes_image_tag "default.jpg"  %>
               <% end %>
                <div class="card-body m-0 p-0 border-top">
                  <div class="card-title text-center">
                    <%= link_to "#{user.name}", user_path(user) %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
         <%= paginate users %>
        </div>
      </div>
  <% end %>

<% else %>

  <% if o_users.any? %>
      <div class="container">
        <div class="row">
          <% o_users.each do |user| %>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="card mt-1 mb-1 border-bottom border-top" id="user_image">
               <% if user.image? %>
                <%= lazysizes_image_tag user.image.thumb_in.url  if user.image.present? %>
               <% else %>
                <%= lazysizes_image_tag "default.jpg"  %>
               <% end %>
                <div class="card-body m-0 p-0 border-top">
                  <div class="card-title text-center">
                    <%= link_to "#{user.name}", user_path(user) %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      
         <%= paginate o_users %>
        </div>
      </div>
  <% end %>

<% end %>
</div>