<h5>クラブセッティング登録</h5>
  <table class="table table-condensed table-striped text-center">
    <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <tbody>
            <tr>
              <th>番手</th>
              <th>クラブ</th>
              <th>登録フォーム<%= f.submit '登録', class: 'btn btn-primary ml-2' %>  </th>
            </tr>
            <tr>
              <th>ドライバー</th>
              <td><%= @user.driver %></td>
              <td>
                <div class="form-group">
                  <%= f.text_field :driver,class: 'form-control' %>
                  <%#= f.label :driver %>
                </div>
              </td>
            </tr>
            
            <tr>
              <th>Dシャフト</th>
              <td><%= @user.dshaft %></td>
              <td>
                <div class="form-group">
                  <%= f.text_field :dshaft,class: 'form-control' %>
                  <%#= f.label :dshaft %>
                </div>
              </td>
             
            </tr>
            
            <tr>
              <th>ウッド</th>
              <td><%= @user.wood %></td>
              <td>
                <div class="form-group">
                  <%= f.text_field :wood,class: 'form-control' %>
                  <%#= f.label :wood %>
                </div>
              </td>
            
            </tr>
            
            <tr>
              <th>ユーティリティ</th>
              <td><%= @user.ut %></td>
              <td>
                <div class="form-group">
                  <%= f.text_field :ut,class: 'form-control' %>
                  <%#= f.label :ut %>
                </div>
              </td>
            
            </tr>
            
            <tr>
              <th>アイアン</th>
              <td><%= @user.iron%></td>
              <td>
                <div class="form-group">
                  <%= f.text_field :iron,class: 'form-control' %>
                  <%#= f.label :iron%>
                </div>
              </td>
            
            </tr>
            
            <tr>
              <th>ウェッジ</th>
              <td><%= @user.wedge %></td>
              <td>
                <div class="form-group">
                  <%= f.text_field :wedge,class: 'form-control' %>
                  <%#= f.label :wedge %>
                </div>
              </td>
             
            </tr>
            
            <tr>
              <th>パター</th>
              <td><%= @user.putter %></td>
              <td>
                <div class="form-group">
                  <%= f.text_field :putter,class: 'form-control' %>
                  <%#= f.label :putter %>
                </div>
              </td>
             
            </tr>
      </tbody>
  <% end %>
</table>
    



