<div class="text-center">
  <h1>edit</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

<table class="table table-striped">
  <tbody>
    <tr>
      <th>Sex/性別</th>
      <td><%= user.sex %></td>
    </tr>
    <tr>
      <th>Birth_Place/出生地</th>
      <td><%= user.bplace %></td>
    </tr>
    <tr>
      <th>Address/現住所</th>
      <td><%= user.address %></td>
    </tr>
    <tr>
      <th>Best_Score/ベストスコア</th>
      <td><%= user.bscore %></td>
    </tr>
    <tr>
      <th>Distance/飛距離</th>
      <td><%= user.distance %></td>
    </tr>
    <tr>
      <th>Home_Course/所属コース</th>
      <td><%= user.hcourse %></td>
    </tr>
    <tr>
      <th>Job/職業・勤務先</th>
      <td><%= user.job %></td>
    </tr>
    <tr>
      <th>School/出身校</th>
      <td><%= user.school %></td>
    </tr>
    <tr>
      <th>Hobby/趣味</th>
      <td><%= user.hobby %></td>
    </tr>
  </tbody>
</table>


    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Eメール' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      
       <div class="form-group">
        <%= f.label :sex, "性別" %>
        <%= f.select :sex ,User.sexes.keys.to_a, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :bscore, 'ベストスコア' %>
        <%= f.text_field :bscore, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :distance, '飛距離' %>
        <%= f.text_field :distance, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :address, '現所在地' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :bplace, '出生地' %>
        <%= f.text_field :bplace, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :hcourse, 'ホームコース' %>
        <%= f.text_field :hcourse, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :hobby, '趣味' %>
        <%= f.text_field :hobby, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :job, '職業・勤務先' %>
        <%= f.text_field :job, class: 'form-control' %>
      </div>
      
       <div class="form-group">
        <%= f.label :school, '出身校' %>
        <%= f.text_field :school, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= f.label :image, '紹介写真' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      
       <div class="form-group">
        <%= f.label :gear, '使用クラブ' %>
        <%= f.file_field :gear, class: 'form-control' %>
      </div>
      

      <div class="form-group">
        <%= f.label :video, 'スウィング' %>
        <%= f.text_field :video, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :channel, "youtubeチャンネル" %>
        <%= f.text_field :channel, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード確認' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :status, '公開 or　非公開※' %>
        <%= f.select :status ,User.statuses.keys.to_a, class: 'form-control' %>
        <small>※ログインユーザーにのみプロフィールを公開します。</small>
      </div>

      <%= f.submit '編集', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
