<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header border">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body border" id="user_image">
        <% if @user.image? %>
          <%= image_tag @user.image.url if @user.image.present? %>
        <% else %>
          <%= image_tag "default.jpg" %>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">ステータス</a></li>
      <li class="nav-item"><a href="<%= swing_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(swing_user_path(@user)) %>">スウィング</a></li>
      <li class="nav-item"><a href="<%= gear_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(gear_user_path(@user)) %>">セッティング</a></li>
      <li class="nav-item"><a href="<%= history_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(history_user_path(@user)) %>">競技実績</a></li>
      <% if @user.status == 0 || current_user %>
      <li class="nav-item"><a href="<%= message_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(message_user_path(@user)) %>">メッセージ<span class="badge badge-secondary"><%= @count_messages %></span></a></li>
      <% else %>
      <li class="nav-item"><a href="#" class="nav-link">メッセージ</a></li>
      <% end %>    
    </ul>
     <%= render 'historys/competi', user: @user, tournaments: @tournaments, tournament: @tournament %>
  </div>
</div>
