<div class="text-center">
  <h1>Sign up</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

       <div class="form-group">
        <%= f.label :sex, "sex" %>
        <%= f.select :sex ,User.sexes.keys.to_a, class: 'form-control' %>
      </div>


      <div class="form-group">
        <%#= f.label :bscore, 'Best_Score' %>
        <%#= f.text_field :bscore, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%#= f.label :distance, 'Distance' %>
        <%#= f.text_field :distance, class: 'form-control' %>
      </div>


      <div class="form-group">
        <%#= f.label :address, 'Address' %>
        <%# f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%#= f.label :hcourse, 'Home_Course' %>
        <%#= f.text_field :hcourse, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%#= f.label :bplace, 'Birth_Place' %>
        <%#= f.text_field :bplace, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :image, 'Image' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :status, 'open or　closed※' %>
        <%= f.select :status ,User.statuses.keys.to_a, class: 'form-control' %>
        <small>※ログインユーザーにのみプロフィールを公開します。</small>
      </div>
      
      
      
      <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
