<div class="text-center">
  <h1 class="pt-4 pb-3">Sign up</h1>
</div>
<div class="container">
<div class="row">
  <div class="pb-4 col-sm-6 offset-sm-3">
    

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
          <div data-toggle="tooltip" title="有効なEメールアドレス。アカウント有効化時に使用されます。">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <div data-toggle="tooltip" title="8字以上。">
        <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%#= f.label :status, 'open or　closed※' %>
        <%= f.hidden_field :status ,value: "closed", class: 'form-control' %>
       <!--<small>※ログインユーザーにのみプロフィールを公開します。</small>-->
      </div>
      
      
      
      <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
</div>