<div class="text-center">
  <h1 class="pt-4 pb-3">Sign up</h1>
</div>
<div class="container">
<div class="row">
  <div class="pb-4 col-sm-6 offset-sm-3">
    

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
          <div data-toggle="tooltip" title="有効なEメールアドレス。アカウント有効化時に使用されます。">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
      </div>

       <div class="form-group">
        <%#= f.label :sex, "sex" %>
        <%#= f.select :sex ,User.sexes.keys.to_a, class: 'form-control' %>
      </div>


      <div class="form-group">
        <%#= f.label :bscore, 'Best_Score' %>
        <%#= f.text_field :bscore, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%#= f.label :distance, 'Distance' %>
        <%#= f.text_field :distance, class: 'form-control' %>
      </div>


      <div class="form-group">
        <%#= f.label :address, 'Address' %>
        <%# f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%#= f.label :hcourse, 'Home_Course' %>
        <%#= f.text_field :hcourse, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%#= f.label :bplace, 'Birth_Place' %>
        <%#= f.text_field :bplace, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%#= f.label :image, '紹介写真' %>
        <%#= f.file_field :image, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <div data-toggle="tooltip" title="8字以上。">
        <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%#= f.label :status, 'open or　closed※' %>
        <%= f.hidden_field :status ,value: "closed", class: 'form-control' %>
       <!--<small>※ログインユーザーにのみプロフィールを公開します。</small>-->
      </div>
      
      
      
      <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
</div>