<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body" id="user_image">
        <% if @user.image? %>
          <%= image_tag @user.image.url if @user.image.present? %>
        <% else %>
          <%= image_tag "default.jpg" %>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= profile_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(profile_user_path(@user)) %>">Golfers Status</a></li>
      <li class="nav-item"><a href="<%= swing_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(swing_user_path(@user)) %>">Golfers Swing</a></li>
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Messages <span class="badge badge-secondary"><%= @count_messages %></span></a></li>
    </ul>
   <%= render 'users/video', user: @user %>
  </div>
</div>