<div class=" mt-4 container">
  
<%= form_with(model: @tournament, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
 <table class="table table-condensed table-striped text-center m-0">
      <tbody>
         <tr>
          <th>登録フォーム</th>
        </tr>
       <tr>
          <td>
            <div class="form-group">
              <div data-toggle="tooltip" title="西暦表示。数値４字で。">
                <%= f.text_field :year,class: 'form-control' %>
              </div>
                <%= f.label :year, 'year/年' %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <div data-toggle="tooltip" title="参加競技の名称。５０字まで">
              <%= f.text_field :content,class: 'form-control' %>
              </div>
              <%= f.label :content, "tournament/競技" %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <div data-toggle="tooltip" title="順位等の結果。１０字まで">
              <%= f.text_field :rank,class: 'form-control' %>
              </div>
              <%= f.label :rank, 'rank/順位' %>
            </div>
          </td>
          <td>
           <%= f.submit '追加', class: 'btn btn-primary' %>  
          </td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
      <%= f.label :url, '競技結果のURL' %>
      <div data-toggle="tooltip" title="競技結果が公開されているwebページのURLを張り付けることで、「順位」がリンク化します。">
      <%= f.text_field :url,class: 'form-control' %>
      </div>
    </div>
    <div class="form-group mt-0 mb-5">
       <%= f.hidden_field :user_id, value: @user.id ,class: 'form-control' %>
    </div>
<% end %>


<table class="table table-condensed table-striped text-center">
      <tbody>
        <tr>
          <th>競技一覧</th>
        </tr>
        <tr>
          <th>year/年</th>
          <th>tournament/競技</th>
          <th>rank/順位</th>
          <th></th>
        </tr>
       <% @tournaments.each do |tournament| %>
        <tr>
          <td><%= tournament.year %>年</td>
          <td><%= tournament.content %></td>
          <td><%= link_to tournament.rank, tournament.url%></td>
          <td>
            <% if current_user == tournament.user %>
                <%= link_to "削除", tournament, method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </td>
        </tr>
       <% end %>
       </tbody>
    </table>
</div>

