<% if logged_in? %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="pt-2"></p>
      <h1 class=" pb-3 text-light">Golfersfarm</h1>
        <h3 class="pb-2 text-light">あなたが、主役。</h3>
        <h3 class="pb-2 text-light">ゴルファーのプロフィール登録ツール</h3>
         <%= link_to 'お問合せ', new_contact_path, class: "mt-1 btn btn-lg btn-outline-light"%>
  </div>
</div>
<div class="container">
 <%= render 'layouts/info' %>
</div>
<% else %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="pt-2"></p>
      <h1 class=" pb-3 text-light">Golfersfarm</h1>
        <h3 class="pb-2 text-light">あなたが、主役。</h3>
        <h3 class="pb-2 text-light">ゴルファーのプロフィール登録ツール</h3>
          <%= link_to 'Sign up now!', signup_path, class: ' mt-1 btn btn-lg btn-outline-light' %>
  </div>
</div>
 <%= render 'layouts/vison' %>
 <%= render 'layouts/explain' %>
<div class="container">
 
   <%= render 'layouts/info' %>
</div>
<% end %>
