<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="ゴルファー,ゴルフ,登録,プロフィール公開,共有,自己紹介">
    <meta property="og:url" content="https://www.golfersfarm.com/" />
    <meta property="og:title" content="Golfersfarm" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="ゴルファーのプロフィール公開共有アプリです。" />
    <meta property="og:site_name" content="Golfersfarm" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="fb:app_id" content="1202036709989093" />
    <meta property="og:image" content="https://www.golfersfarm.com/fb_logo.png" />
    <meta property="og:image:type" content="image/png" />
    
    
    <meta name="description" content="ゴルファーのプロフィール公開共有アプリです。">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Golfersfarm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <body>
      <%= render 'layouts/navbar' %>
        <div class="container">
          <%= render 'layouts/flash_messages' %>
            <%= yield %>
          </div>
         
        </div>
         <%= render 'layouts/footer' %>
    </body>
</html>
