<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="ゴルファー,登録,プロフィール公開,共有,自己紹介">
    <!--<meta name="description" content="titleタグ（ページタイトル）はSEOでも最重要の設定部分になります。検索順位をアップしよりクリックされやすいページタイトルの付け方を、具体例を紹介してご説明します。これを読めば初心者でも簡単に効果的なページタイトルが作れます。">
    <meta property="og:site_name" name="og:site_name" content="おりこうブログDSプロモーションサイト">
    <meta property="og:keywords" name="og:keywords" content="titleタグ,ページタイトル,SEO,付け方,キーワード">
    <meta property="og:description" name="og:description" content="titleタグ（ページタイトル）はSEOでも最重要の設定部分になります。検索順位をアップしよりクリックされやすいページタイトルの付け方を、具体例を紹介してご説明します。これを読めば初心者でも簡単に効果的なページタイトルが作れます。">
    <meta property="og:title" name="og:title" content="SEOに強いtitleタグの付け方｜検索順位＆クリック率をアップさせる">
    <meta property="og:type" name="og:type" content="article">
    <meta property="og:url" name="og:url" content="https://ds-b.jp/ds/publics/index/154/">
    <meta property="og:image" name="og:image" content="https://ds-b.jp/ds/files/libs/14187/201808031332535011.jpg?2019-07-0911:11:54">-->    
    
    <meta name="description" content="ゴルファーのためのプロフィール公開共有アプリです">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Golfersfarm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </head>
    <body>
      <%= render 'layouts/navbar' %>
        <div class="container">
          <%= render 'layouts/flash_messages' %>
            <%= yield %>
          </div>
         
        </div>
         <%= render 'layouts/footer' %>
    </body>
</html>
